@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

body{
    font-family: "Poppins",sans-serif;
    
}
.auth-input{
    @apply w-full p-3 bg-slate-500 rounded-2xl border border-emerald-500 focus:outline-none focus:border-b-cyan-700
}
.add-input{
    @apply w-full border border-gray-300 p-2 rounded
}